$primary-color : #FF6060;
$secondary-color : #F6F6F6;
$height-open: 500px;
$height-closed: 0;



.flex-container-hebergements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;


    & .collapse-container {

        display: flex;
        flex-direction: column;
        width:80%;
    }
    

    & .collapse {

        width: 80%;
        color:white;
        background-color: #FF6060;
        gap:10px;
        border-radius: 10px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
        
        & i {
            margin-right: 10px;
        }
    
        & p {
            margin-left :10px;
           
        }
    }

    & .collapse-text{
        width:80%;
        margin-left: 50px;
        color:$primary-color; 
        background-color: $secondary-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        max-height: $height-closed;
        overflow: hidden;

        & p{
            margin-left: 20px; 
        }

    &.collapse-text.open {
            max-height: $height-open;
    }
        
    }
 
} 

.flex-container-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &  .collapse-container {

        display: flex;
        flex-direction: column;
        width:80%;
    }

    & .collapse {

        width: 100%;
        color:white;
        background-color: #FF6060;
        gap:30px;
        border-radius: 10px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        transition: max-height 0.3s ease;
    
        & i {
            margin-right: 10px;
        }
    
        & p {
            margin-left :10px;
        }
    }

    & .collapse-text{
        width:100%;
        margin-top: 0px;
        color:$primary-color; 
        background-color: $secondary-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        max-height: $height-closed;
        overflow: hidden;

        & p{
            margin-left: 20px; 
        }

        &.collapse-text.open {
            max-height: $height-open;
           
    }
        
    }
    
}

@media screen and (min-width: 320px) and (max-width: 900px) { 


    .flex-container-about{

         & .collapse {
            width: 100%;
         }

         & .collapse-text {
            width: 100%;
         }
    }

    .flex-container-hebergements {

        flex-direction: column;
        margin-left: -100px;

        & .collapse {
            width: 100%;
        }

        & .collapse-text {
            width: 100%;
        }
    }
}