.flex-proprietaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergement_title{
    color: #FF6060;
    margin-left:60px;
    margin-bottom: -40px;
}

.host_profile {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-right: 60px;

    & img {
        object-fit: cover;
        width: 30%;
        border-radius: 40px;
        height: 60px;
    }

    & p {
        color: #FF6060;
        font-display:inherit;
    }
}



.localisation {
    color: #FF6060;
    margin-left: 60px;
    margin-top: -20px;
}

.flex-buttons{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    gap:20px;

    & button {
        color: white;
        background-color: #FF6060;
        border-radius: 20px;
        border:1px transparent;
        width: 130px;
        height: 20px;
        text-align: center;
    }

}

.fa-star{
    color: #E3E3E3;
    
}

.fa-star-selected {
    color: #FF6060;
}

.flex-stars{
    margin-right: 60px;
}

.flex-btn-star{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer{
    margin-top: 40px;
}